.login-form {
    max-width: 400px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: #0e1218;
    text-align: center;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Arial", sans-serif;
    color: #ffffff;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color: #ffffff;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
}

.container .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
}

.input {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e1218;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #ecf0f1;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(30, 144, 255, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

button:active {
    transform: translate(0em, 0.2em);
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
}
